<template>
  <ion-page>
    <ion-header class="ion-no-border" style="text-align: center;">
      <div>
        <img src="../icons/niki.jpg" style="height:52px; width:100%;"/>
      </div>
    </ion-header>
    <ion-content ref="myContent">
      <div class="chat-container">
        <img src="../icons/poutana_intro.jpg"/>
        <div v-for="item in data">
          <div style="margin:0 auto; text-align:center; padding:10px 0; font-size:12px; color:grey;">
            {{item.date}}
          </div>
          <div v-for="(message, index) in item.messages" :key="index" :class="{ 'message-left': message.sender === 'user1', 'message-right': message.sender === 'user2' }">
            <div class="avatar-container" v-if="message.sender === 'user1' && item.messages[index+1]?.sender !== 'user1'">
              <img :src="avatar" alt="User Avatar" class="avatar">
            </div>
            <div v-else class="avatar-container">
              <div style="display:block; width:30px; height:30px;"/>
              </div>
            <div class="message-content" style="margin-top:5px;">
              <div v-if="!message.isCall && !message.isPhoto && !message.isVideo" class="message" :class="{ 'message-blue': message.sender === 'user1', 'message-gray': message.sender === 'user2' }">
                {{ message.text }}
              </div>
              <div v-if="message.isCall"> 
                <img src="../icons/calls.jpg" style="width:200px; height:210px;"/>
              </div>
              <div v-if="message.isPhoto">
                <img src="../icons/photo.jpg" style="width:90px; height:35px;"/>
              </div>
              <div v-if="message.isVideo">
                <img src="../icons/video.jpg" style="width:90px; height:35px;"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
    <ion-footer class="ion-no-border">
      <img src="../icons/chat.jpg" style="width:100%; height:50px;"/>
    </ion-footer>
  </ion-page>
</template>


<script setup lang="ts">
import {IonPage, IonHeader, IonContent} from '@ionic/vue';
import avatar from  "../images/poutana.jpg";
import {onMounted, ref} from "vue";

const myContent = ref(null);
const scrollThat = () => {
  myContent.value.$el.scrollToPoint(0, 20000, 0);
}

onMounted(()=>{
  scrollThat();
})


const data = [{
  date:"16 Jan , 10:10PM",
  messages:[
    { sender: 'user1', text: 'Με θυμάσαι;', color: 'blue' },
    { sender: 'user2',  text: 'i guess oxi alla gia pes', color: 'gray' },
    { sender: 'user1', text: "Η Άννα Μαρία", color: 'blue' },
    { sender: 'user1', text: "που μίλαγε με τον φίλο σου", color: 'blue' },
    { sender: 'user1', text: "τον Βασίλη μου έδωσε το insta σου", color: 'blue' },
    { sender: 'user2',  text: 'Ti', color: 'gray' },
    { sender: 'user2',  text: 'Pote egine afto?', color: 'gray' },
    { sender: 'user1', text: "Δεν θυμάσαι όντως δηλαδή", color: 'blue' },
    { sender: 'user1', text: "χαχαχαχα", color: 'blue' },
    { sender: 'user2',  text: 'Ti akrivws na thimamai', color: 'gray' },
    { sender: 'user1', text: "Μιλήσαμε scape..", color: 'blue' },
    { sender: 'user2',  text: 'Α ok lol', color: 'gray' },
  ]
  },
  {
  date:"17 Jan , 12:11PM",
  messages:[{sender: 'user1',  text:'' , isPhoto:true },
  { sender: 'user2',  text: 'Oreo vlema xd', color: 'gray' },
  { sender: 'user2',  text: 'N ok se thimithika', color: 'gray' },
  { sender: 'user1', text: 'Α ωραία...', color: 'blue' },
  ]
  }, 
  {
  date:"17 Jan , 4:58PM",
  messages:[{sender: 'user1',  text:'' , isPhoto:true },
  { sender: 'user2',  text: 'Pu eise kan', color: 'gray' },
  { sender: 'user1',  text: 'Ειμαι σε μια καφετερια εχω ερθει για διαβασμα', color: 'gray' },
  { sender: 'user1', text: 'Και στις 5:30 εχω θεατρικη', color: 'blue' },
  { sender: 'user2', text: 'Eyy krrrpaaw', color: 'blue' },
  { sender: 'user2', text: 'Kaneis theatro?', color: 'blue' },
  { sender: 'user1', text: 'Ναιι', color: 'blue' },
  ]
  },
  {
  date:"17 Jan , 7:34PM",
  messages:[{ sender: 'user2',  text: 'Kai ti parastash etimazete', color: 'gray' },
  { sender: 'user1',  text: 'Ακομα το στηνουμεε', color: 'gray' },
  { sender: 'user1', text: 'Οταν θα ειναι ετοιμο θα σου πω να ερθεις να δεις', color: 'blue' },
  { sender: 'user2', text: 'Skkrrt', color: 'blue' },
  { sender: 'user2', text: 'Den nomizw r vrm theatro', color: 'blue' },
  { sender: 'user1', text: 'Καλαα', color: 'blue' },
  { sender: 'user1', text: 'Θα ειναι ωραια παρασταση παντως', color: 'blue' },
  ]
  },
  {
  date:"17 Jan , 10:09PM",
  messages:[{ sender: 'user2',  text: 'Makari na ta pas kala yessir', color: 'gray' },
  ]
  },
  {
  date:"17 Jan , 10:42PM",
  messages:[{ sender: 'user1',  text: 'Ευχαριστωω', color: 'gray' },
  { sender: 'user1', text: 'Σχολαω σε 1 ωρα', color: 'blue' },
  { sender: 'user1', text: 'Θα παω στην βιβλιοθηκη με τα παιδια να διαβασουμε', color: 'blue' },
  ]
  },
  {
  date:"17 Jan , 11:35PM",
  messages:[{ sender: 'user2',  text: 'Ti tha diavazeis?', color: 'gray' },
  { sender: 'user1', text: 'Αρχες κοινωνιολογιας', color: 'blue' },
  ]
  },
  {
  date:"17 Jan , 11:54PM",
  messages:[{ sender: 'user2',  text: 'Koinoniologia spudazeis?', color: 'gray' }
  ]
  },
  {
  date:"18 Jan , 12:22AM",
  messages:[{ sender: 'user1',  text: 'Ναι', color: 'gray' }
  ]
  },
  {
  date:"18 Jan , 9:14AM",
  messages:[{ sender: 'user2',  text: 'Kai ksereis polla gia thn koinwnia mas?', color: 'gray' },
  ]
  },
  {
  date:"18 Jan , 12:52PM",
  messages:[{ sender: 'user1',  text: '😂😂😂😂', color: 'gray' },
  {sender: 'user1', text:'' , isVideo:true },
  { sender: 'user2', text: 'Giati akus snik gamw', color: 'blue' },
  ]
  },
  {
  date:"18 Jan , 1:41PM",
  messages:[{ sender: 'user1',  text: 'Μου αρεσει το τραγουδιι', color: 'gray' },
  ]
  },
  {
  date:"18 Jan , 4:25PM",
  messages:[
  { sender: 'user2', text: '..', color: 'blue' },
  { sender: 'user1', text: 'Αυριο εχω σχολη και με εχει πιασει και ενα αγχος με την εξεταστικη', color: 'blue' }
  ]
  },
  {
  date:"18 Jan , 7:11PM",
  messages:[
  { sender: 'user2', text: 'Ama diavazeis toxeis r fenese ksipnia', color: 'blue' },
  ]
  },
  {
  date:"18 Jan , 8:03PM",
  messages:[
  { sender: 'user1', text: 'Μπορει να παω και στην πορεια που εχει για τις σχολες', color: 'blue' },
  ]
  },
  {
  date:"18 Jan , 10:41PM",
  messages:[
  { sender: 'user2', text: 'Ti poria exei', color: 'blue' },
  { sender: 'user1', text: 'Σχετικα με την ιδιωτικοποιηση των σχολων', color: 'blue' },
  { sender: 'user2', text: 'A lol kati eixa akusei oti tha katargithoun ta dimosia panepistimia kai tha ginoun ola idiotika', color: 'blue' },
  { sender: 'user1', text: 'Παιζει να κανει καταληψη η σχολη μεσα σε αυτες τις μερες εχουν κλεισει ηδη και οι περισσοτερες', color: 'blue' }
  ]
  },
  {
  date:"19 Jan , 10:22AM",
  messages:[
  { sender: 'user2', text: 'Eskereeee', color: 'blue' },
  { sender: 'user2', text: 'Ante tixeri kala su ekatse', color: 'blue' },
  { sender: 'user1', text: 'Γενικα ναι αλλα το θεμα για το οποιο γινεται ολο αυτο ειναι σοβαρο και θελω να στηριξω', color: 'blue' },
  { sender: 'user2', text: 'Isxiei einai kapws xontro yessir', color: 'blue' },
  ]
  },
  {
  date:"20 Jan , 2:39PM",
  messages:[
  {sender: 'user1',  text:'' , isPhoto:true },
  ]
  },
  {
  date:"20 Jan , 4:15PM",
  messages:[
  { sender: 'user2', text: 'omagaaa exeis dogo', color: 'blue' },
  { sender: 'user1', text: 'Ναιι η ψυχη μου η Περσα', color: 'blue' },
  ]
  },
  {
  date:"20 Jan , 11:53PM",
  messages:[
  {sender: 'user2',  text:'' , isPhoto:true },
  { sender: 'user2', text: 'Ela r apodw h blue', color: 'blue' },
  { sender: 'user1', text: 'ΨΥΧΟΥΛΑ ΜΟΥΥΥ', color: 'blue' },
  { sender: 'user1', text: '🥰🥰', color: 'blue' },
  ]
  },
  {
  date:"21 Jan , 3:14PM",
  messages:[
  { sender: 'user2', text: 'To deftero pio omorfo plasma ston kosmo', color: 'blue' },
  { sender: 'user1', text: 'Γιατι ποιο ειναι το πρωτο πιο ομορφο;', color: 'blue' },
  { sender: 'user2', text: 'H kopela m lol', color: 'blue' },
  { sender: 'user1', text: 'Α ναιι κατι μου ειπα ο φιλος σου οτι εχεις κοπελα', color: 'blue' },
  ]
  },
  {
  date:"21 Jan , 5:42PM",
  messages:[
  { sender: 'user2', text: 'Poios filos mou', color: 'blue' },
  { sender: 'user1', text: 'Ο Βασιληςς', color: 'blue' },
  ]
  },
  {
  date:"21 Jan , 7:26PM",
  messages:[
  { sender: 'user2', text: 'Den einai filos mu alla ne kl sta eipe', color: 'blue' },
  { sender: 'user1', text: 'Τα εχετε καιρο;', color: 'blue' },
  { sender: 'user2', text: '2misi xronia sxedon', color: 'blue' },
  ]
  },
  {
  date:"21 Jan , 8:03PM",
  messages:[
  { sender: 'user1', text: 'Ααα τελειαα', color: 'blue' },
  { sender: 'user2', text: 'Nai kai pera apo afta einai +12 xronia filias prin apo thn sxesh opote n', color: 'blue' },
  { sender: 'user1', text: 'Πως', color: 'blue' },
  ]
  },
  {
  date:"21 Jan , 9:12PM",
  messages:[
  { sender: 'user2', text: 'Ti pws', color: 'blue' },
  { sender: 'user1', text: 'Πως γινεται αυτο;', color: 'blue' },
  ]
  },
  {
  date:"21 Jan , 10:01PM",
  messages:[
  { sender: 'user2', text: 'Ta panta ginontai', color: 'blue' },
  ]
  },
  {
  date:"22 Jan , 10:33PM",
  messages:[
  {sender: 'user1',  text:'' , isPhoto:true },
  { sender: 'user2', text: 'Gutsu', color: 'blue' },
  {sender: 'user2',  text:'' , isPhoto:true },
  { sender: 'user1', text: 'Πρασινοο', color: 'blue' },
  ]
  },
  {
  date:"22 Jan , 11:06PM",
  messages:[
  { sender: 'user2', text: 'Prepei na strosi o egkefalos gia diavasma vives eskeree prrratatat', color: 'blue' },
  { sender: 'user1', text: 'Εκανα και εγω με τα παιδια τις προαλλες', color: 'blue' },
  {sender: 'user2',  text:'' , isPhoto:true },
  { sender: 'user2', text: 'Mpravo spekia', color: 'blue' },
  { sender: 'user1', text: 'Μαλακα ποσο εχεις;', color: 'blue' },
  ]
  },
  {
  date:"22 Jan , 11:40PM",
  messages:[
  { sender: 'user2', text: 'Ksrg kamia 10ara gramaria', color: 'blue' },
  { sender: 'user1', text: '😂😂', color: 'blue' },
  ]
  },
  {
  date:"22 Jan , 11:57PM",
  messages:[
  { sender: 'user2', text: 'Ti', color: 'blue' },
  { sender: 'user1', text: 'Σαν ολοκληρο χωραφι ειναι', color: 'blue' },
  { sender: 'user2', text: 'Hahahahaha omega', color: 'blue' },
  { sender: 'user1', text: 'Τι διαβαζεις?', color: 'blue' },
  ]
  },
  {
  date:"23 Jan , 10:25AM",
  messages:[
  { sender: 'user2', text: 'Diktia diavaza', color: 'blue' },
  {sender: 'user1',  text:'' , isPhoto:true },
  ]
  },
  {
  date:"23 Jan , 19:39PM",
  messages:[
  { sender: 'user2', text: 'Malaka exeis razer laptop?', color: 'blue' },
  { sender: 'user2', text: 'Akraio', color: 'blue' },
  { sender: 'user1', text: 'Δεν ξερω ο πατερας μου το ειχε παρει για δωρο και μου εχει πει οτι ειναι πολυ καλο', color: 'blue' },
  {sender: 'user1',  text:'' , isPhoto:true },
  ]
  },
  {
  date:"23 Jan , 11:04PM",
  messages:[
  { sender: 'user2', text: 'A oxi hp ein lol', color: 'blue' },
  { sender: 'user2', text: 'Miazi full me razer skrr', color: 'blue' },
  { sender: 'user2', text: 'Tespa r ante gn paw gia ipno', color: 'blue' },
  { sender: 'user1', text: 'Γουνουυ', color: 'blue' },
  ]
  },
  {
  date:"25 Jan , 12:26PM",
  messages:[
  { sender: 'user1', text: 'Θελω να παω σανατοριοο', color: 'blue' },
  ]
  },
  {
  date:"25 Jan , 3:11PM",
  messages:[
  { sender: 'user2', text: 'Swpa r ksereis k to sanatorio', color: 'blue' },
  { sender: 'user1', text: 'Ναιι ρε εχω ξανα παει', color: 'blue' },
  { sender: 'user1', text: 'Μου αρεσει να εξερευνωω', color: 'blue' },
  ]
  },
  {
  date:"25 Jan , 4:33PM",
  messages:[
  { sender: 'user2', text: 'To zeis sta akra', color: 'blue' },
  { sender: 'user1', text: 'Ειδικα το καλοκαιρι που μπηκα 2 με 3 φορες σε αυτοκινητα αγνωστων γιατι βαριομουν να περπατησω και εκανα οτοστοπ', color: 'blue' },
  { sender: 'user2', text: 'Hahaah exeis themata', color: 'blue' },
  { sender: 'user1', text: '😂😂😂', color: 'blue' },
  ]
  },
  {
  date:"25 Jan , 5:03PM",
  messages:[
  { sender: 'user1', text: 'Μαρεσει επισης να περπαταωω', color: 'blue' },
  { sender: 'user1', text: 'Στο χωριο ειχαμε βγει βολτα με την παρεα μου και ειχαμε χασει το κτελ επιτηδες για να γυρισουμε με τα ποδια', color: 'blue' },
  { sender: 'user1', text: 'Εκεινη την μερα ειχε πεσει η φιλη μου στην λιμνη που εχουμε', color: 'blue' },
  { sender: 'user1', text: 'Και ειχε βραχει το χαρτι που ειχαμε για το προγραμμα των κτελ😂😂', color: 'blue' },
  { sender: 'user1', text: 'Κατσε να σου δειξω', color: 'blue' },
  {sender: 'user1',  text:'' , isPhoto:true },

  ]
  },
  {
  date:"25 Jan , 6:46PM",
  messages:[
  { sender: 'user2', text: 'Pethana pws to katafere afto', color: 'blue' },
  { sender: 'user1', text: 'Ειχε δει κατι λουλουδια που της αρεσαν', color: 'blue' },
  { sender: 'user1', text: 'Και οπως πλησιαζε να τα δει καπως στραβοπατησε και επεσε μεσα', color: 'blue' },
  ]
  },
  {
  date:"25 Jan , 8:12PM",
  messages:[
  { sender: 'user2', text: '😂🤣😂🤣😂🤣', color: 'blue' },
  { sender: 'user2', text: 'Exete omadikos thema', color: 'blue' },
  { sender: 'user1', text: 'Ναι ασε', color: 'blue' },
  {sender: 'user1',  text:'' , isPhoto:true },
  ]
  },
  {
  date:"25 Jan , 10:07PM",
  messages:[
  { sender: 'user2', text: 'Fisiko ein to malli?', color: 'blue' },
  { sender: 'user1', text: 'Ναιι', color: 'blue' },
  { sender: 'user2', text: 'Spekia', color: 'blue' },
  ]
  },
  {
  date:"25 Jan , 10:40PM",
  messages:[
  {sender: 'user1',  text:'' , isPhoto:true },
  { sender: 'user2', text: 'Olh mera sto grind eis r', color: 'blue' },
  { sender: 'user1', text: 'Πρεπει να περασω τα μαθηματααα', color: 'blue' },
  ]
  },

  {
  date:"25 Jan , 11:32PM",
  messages:[
  { sender: 'user2', text: 'Paw gia ta gn r ante gn', color: 'blue' },
  { sender: 'user1', text: 'Γουνουυυυ', color: 'blue' },
  ]
  },
{
  date:"26 Jan , 10:48ΑM",
  messages:[
  { sender: 'user1', text: 'Γειαα', color: 'blue' },
  ]
},
{
  date:"26 Jan , 12:33PM",
  messages:[
  { sender: 'user2', text: 'Ekeii krrrpaaaw', color: 'blue' },
  ]
},
{
  date:"26 Jan , 1:48PM",
  messages:[
  { sender: 'user1', text: 'Εχει παρτυ ο Ελβις σημεραα και θα παω στο παρτυυ', color: 'blue' },
  { sender: 'user2', text: 'Pios einai o elvis kan xddd', color: 'blue' },
  { sender: 'user1', text: 'Δεν τον θυμασαι που μιλουσατε στο εσκειπ;;', color: 'blue' },
  ]
},
{
  date:"26 Jan , 3:26PM",
  messages:[
  { sender: 'user2', text: 'Idk r', color: 'blue' },
  { sender: 'user1', text: 'Τεσπαα και να θα παωω', color: 'blue' },
  { sender: 'user2', text: 'Etsi ree eskereee', color: 'blue' },
  { sender: 'user2', text: 'Egw logika tha chillarw na diavasw tpt', color: 'blue' },
  ]
},
{
  date:"26 Jan , 3:55PM",
  messages:[
  { sender: 'user1', text: 'Παρασκευη ειναι ρεε βγες εξω με τους φιλους σουυ', color: 'blue' },
  ]
},
{
  date:"26 Jan , 6:01PM",
  messages:[
  { sender: 'user2', text: 'H logikh leei oti tha diavasw kai meta tha vrethw me thn kira', color: 'blue' },
  { sender: 'user1', text: 'Κιρα λενε την κοπελα σου;;', color: 'blue' },
  { sender: 'user2', text: 'Κυρα*', color: 'blue' },
  { sender: 'user2', text: 'Ne', color: 'blue' },
  { sender: 'user1', text: 'Ωραιο ονομα', color: 'blue' },
  ]
},
{
  date:"26 Jan , 10:26PM",
  messages:[
  { sender: 'user2', text: 'Ne isxiei einai to pio omorfo onoma pu exw dei se kopela', color: 'blue' },
  ]
},
{
  date:"26 Jan , 11:35PM",
  messages:[
  { sender: 'user1', text: 'Εγω εχω φτασει στο παρτυυ', color: 'blue' },
  ]
},
{
  date:"27 Jan , 12:42AM",
  messages:[
  { sender: 'user2', text: 'Vasika niwthw san na pinw mexri thanatu smr', color: 'blue' },
  { sender: 'user2', text: 'Thelw na ksespasw', color: 'blue' },
  { sender: 'user1', text: 'Ελα να ξεσπασεις πανω μου', color: 'blue' },
  ]
}, 
{
  date:"27 Jan , 1:55AM",
  messages:[
  { sender: 'user2', text: 'Exeis piei?', color: 'blue' },
  { sender: 'user1', text: 'Λιγο κρασθ μονοο', color: 'blue' },
  { sender: 'user1', text: 'Αλλα ναι', color: 'blue' },
  { sender: 'user2', text: 'Alla nai genika exw ginaika opote den ifistatai afto p les', color: 'blue' },
  ]
},
{
  date:"27 Jan , 2:58AM",
  messages:[
  { sender: 'user1', text: 'Ακλ', color: 'blue' },
  { sender: 'user2', text: 'XDDDDDDD', color: 'blue' },
  { sender: 'user1', text: 'Τεσπα εγω αρχιζω να γυρναψ σπιτι σιγα σιγα', color: 'blue' },
  { sender: 'user2', text: 'Egine r egw paw gia ipno gn', color: 'blue' },
  ]
},
{
  date:"27 Jan , 1:26PM",
  messages:[
  { sender: 'user1', text: 'Καλημεραα', color: 'blue' },
  ]
},
{
  date:"27 Jan , 3:14PM",
  messages:[
  { sender: 'user2', text: 'Eskeree gm', color: 'blue' },
  { sender: 'user1', text: 'Πως εισαι', color: 'blue' },
  ]
},
{
  date:"27 Jan , 5:29PM",
  messages:[
  { sender: 'user2', text: 'Idk akoma tripparismenos apo to alkool to xorto kai thn amfeta', color: 'blue' },
  { sender: 'user1', text: 'Τι ειναι αυτο;', color: 'blue' },
  { sender: 'user2', text: 'Pio', color: 'blue' },
  { sender: 'user1', text: 'Η αμφετα', color: 'blue' },
  ]
},
{
  date:"27 Jan , 8:29PM",
  messages:[
  { sender: 'user2', text: 'Amfetamini ksrg', color: 'blue' },
  { sender: 'user1', text: 'Για ποιο λογο;;', color: 'blue' },
  { sender: 'user2', text: 'Epidi exi plk krrrrrpaaaw', color: 'blue' },
  { sender: 'user1', text: 'Ενταξει νικο', color: 'blue' },
  { sender: 'user1', text: 'Νικο σε λενε η Δημητρη γιατι μπερδευτικα', color: 'blue' },
  ]
},
{
  date:"27 Jan , 10:42PM",
  messages:[
  { sender: 'user2', text: 'Nikoli ksrg', color: 'blue' },
  { sender: 'user2', text: 'Dimitris rezai kuloglu einai o mentoras mu', color: 'blue' },
  { sender: 'user1', text: 'Ποιος ειναι αυτος;', color: 'blue' },
  { sender: 'user2', text: 'O mentoras m', color: 'blue' },
  { sender: 'user1', text: 'Δηλαση;', color: 'blue' },
  ]
},
{
  date:"28 Jan , 1:55PM",
  messages:[
  { sender: 'user2', text: 'E o mentoras m kserwgw', color: 'blue' },
  { sender: 'user2', text: 'Muxei mathei pragmata gia thn zoi', color: 'blue' },
  { sender: 'user2', text: 'Kserei kinoniologia opws esy', color: 'blue' },
  { sender: 'user1', text: 'Κομπλε', color: 'blue' },
  ]
},
{
  date:"28 Jan , 1:55PM",
  messages:[
  {sender: 'user2',  text:'' , isPhoto:true },
  ]
},
{
  date:"28 Jan , 3:23PM",
  messages:[
  { sender: 'user2', text: 'Mpravo diavaze', color: 'blue' },
  ]
},
{
  date:"28 Jan , 4:02PM",
  messages:[
  { sender: 'user1', text: 'Ξεκιναει η εξεταστικη σε λιγες μερες', color: 'blue' },
  ]
},
{
  date:"28 Jan , 6:30PM",
  messages:[
  { sender: 'user2', text: 'Tha pas na diaprepseis', color: 'blue' },
  { sender: 'user1', text: 'Ειμαι γυμναστηριο', color: 'blue' },
  ]
},
{
  date:"28 Jan , 7:44PM",
  messages:[
  { sender: 'user2', text: 'Kai gimnastirio r eis full sofh', color: 'blue' },
  { sender: 'user1', text: 'Ναι', color: 'blue' },
  ]
},
{
  date:"28 Jan , 10:06PM",
  messages:[
  { sender: 'user1', text: 'Εχω πιαστει παντου', color: 'blue' },
  { sender: 'user2', text: 'Katse na ksekurasteis', color: 'blue' },
  { sender: 'user1', text: 'Ελα να με ξεπιασεις', color: 'blue' },
  ]
},
{
  date:"29 Jan , 11:27AM",
  messages:[
  { sender: 'user2', text: 'Nai r tha ginw kai o fisiotherapefteis su lgk', color: 'blue' },
  { sender: 'user1', text: 'Ναι', color: 'blue' },
  ]
},
{
  date:"29 Jan , 3:15PM",
  messages:[
  { sender: 'user2', text: 'Koita r gnk eisai konta sto block', color: 'blue' },
  { sender: 'user2', text: 'Gnk exw kopela ksrg', color: 'blue' },
  { sender: 'user2', text: 'Gnk dn su milaw giati thelw na kanw kati mazi s', color: 'blue' },
  ]
},
{
  date:"31 Jan , 2:44PM",
  messages:[
  { sender: 'user1', text: 'Το ξερω οτι εχεις κοπελα και συγγνωμη', color: 'blue' },
  { sender: 'user1', text: 'Απλα βγηκα προσφατα απο μαι σχεση με εναν ανθρωπο', color: 'blue' },
  { sender: 'user1', text: 'Που πρωτη φορα ενιωθα ωραια', color: 'blue' },
  ]
},
{
  date:"31 Jan , 7:52PM",
  messages:[
  { sender: 'user2', text: 'Ok to ktlvnw afto p m les', color: 'blue' },
  { sender: 'user2', text: 'Apla ktlvneis oti dn ginete na milame etsi', color: 'blue' },
  { sender: 'user2', text: 'Exw kopela', color: 'blue' },
  { sender: 'user1', text: 'Ναι', color: 'blue' },
  { sender: 'user2', text: 'Kai genika den nomizw na edwsa kapia elpida oti tha ginei kati', color: 'blue' },
  ]
},
{
  date:"31 Jan , 2:44AM",
  messages:[
  { sender: 'user1', text: 'Συγγνωμη εχεις δικιο', color: 'blue' },
  ]
},
{
  date:"1 Feb , 4:28PM",
  messages:[
  {sender: 'user1',  text:'' , isPhoto:true },
  { sender: 'user1', text: 'Εκανα τατοο', color: 'blue' },
  ]
},
{
  date:"1 Feb , 7:47PM",
  messages:[
  { sender: 'user2', text: 'Wraioo megia', color: 'blue' },
  { sender: 'user2', text: 'Ti einai?', color: 'blue' },
  ]
},
{
  date:"1 Feb , 9:01PM",
  messages:[
  { sender: 'user1', text: 'Ειναι ενα σημειο του χωριου μου', color: 'blue' },
  { sender: 'user1', text: 'Το ειχα ζωγραφισει εγω πριν λιγο καιρο', color: 'blue' },
  {sender: 'user1',  text:'' , isPhoto:true },
  ]
},
{
  date:"1 Feb , 10:12PM",
  messages:[
  { sender: 'user2', text: 'Teleioo megia', color: 'blue' },
  { sender: 'user1', text: 'Ευχαριστωωω', color: 'blue' },
  ]
},
{
  date:"2 Feb , 6:34PM",
  messages:[
  { sender: 'user1', text: 'Παιζει να ερθεις εσκειπ σμρ;', color: 'blue' },
  { sender: 'user1', text: 'Αν ναι παιζει να εχεις αλοιφη για ταττοο γιατι την δικια μου την ξεχασα σπιτι ', color: 'blue' },
  { sender: 'user1', text: 'Και δεν προλαβαινω να γυρισω σπιτι να παρω γιατι θα παω καπακι μετα την θεατρικη', color: 'blue' },
  ]
},
{
  date:"2 Feb , 7:48PM",
  messages:[
  { sender: 'user2', text: 'Den exw pleon r exw petaksei thn alifh pu eixa', color: 'blue' },
  { sender: 'user1', text: 'Καλα', color: 'blue' },
  ]
},
{
  date:"2 Feb , 10:28PM",
  messages:[
  { sender: 'user1', text: 'Αν ερθεις τελικα και εχεις και αλοιφη πες μου', color: 'blue' },
  ]
},
{
  date:"3 Feb , 1:55PM",
  messages:[
  { sender: 'user1', text: 'Τελικα σε ειδαα😂😂', color: 'blue' },
  ]
},
{
  date:"3 Feb , 6:14PM",
  messages:[
  { sender: 'user2', text: 'Hype', color: 'blue' },
  { sender: 'user1', text: '???', color: 'blue' },
  ]
},
{
  date:"3 Feb , 6:14PM",
  messages:[
  { sender: 'user1', text: 'Γιατι διαβαστηκε;', color: 'blue' },
  ]
},
  ] 
  // 8:40 PM


  // {sender: 'user1', text:'' , isCall:true },
  // {sender: 'user2',  text:'' , isPhoto:true },
  // {sender: 'user1', text:'' , isVideo:true },
  // {sender: 'user2',  text:'' , isPhoto:true },
  // {sender: 'user2', text:'' , isPhoto:true },
  // {sender: 'user1',  text:'skase' },
  // {sender: 'user2',  text:'kane me' },
  // Add more messages as needed


</script>

<style>
.no-shadow {
  --box-shadow: none !important;
}
.no-border {
  --border-style: none !important;
}

.chat-container {
  padding: 20px;
}

.message {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 2px;
  max-width:200px;
}

.message-left {
  display: flex;
  align-items: flex-end;
}

.message-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.avatar-container {
  margin-right: 10px;
}

.avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-bottom:6px;
}

.message-gray {
  background-color: #007bff;
  color: #ffffff;
  padding-left:12px;
}

.message-blue {
  background-color: #f0f0f0;
  color: #333333;
}

</style>
