<template>
  <ion-page>
    <ion-header class="ion-no-border">
<!--      <ion-toolbar mode="md">-->
<!--        <ion-buttons slot="start">-->
<!--          <ion-button href="/tabs/tab1">-->
<!--            <ion-icon slot="icon-only" :icon="arrowBack"/>-->
<!--          </ion-button>-->
<!--        </ion-buttons>-->
<!--        <ion-title class="bold-title">sexy.piston</ion-title>-->
<!--        <ion-buttons slot="end">-->
<!--          <ion-button>-->
<!--            <ion-icon slot="icon-only" :icon="cameraOutline"></ion-icon>-->
<!--          </ion-button>-->
<!--          <ion-button>-->
<!--            <ion-icon slot="icon-only" :icon="ellipsisVerticalOutline"></ion-icon>-->
<!--          </ion-button>-->
<!--        </ion-buttons>-->
<!--      </ion-toolbar>-->
      <img src="../icons/nikolis.jpg"/>
    </ion-header>
    <ion-content :fullscreen="true">
<!--      <ion-searchbar-->
<!--          placeholder="Search"-->
<!--          animated-->
<!--      ></ion-searchbar>-->

<!--      <div>-->
<!--        <div style="display:flex; justify-items: center; padding-top:20px; padding-left:16px; padding-bottom:16px; font-size:11px;">-->
<!--          <div style="position:relative; display:flex; flex-direction: column; align-items: center; margin-right:25px" v-for="story in stories">-->
<!--            <div style="text-align:center; display:flex;  align-content:center;  align-items:center; justify-items:center; justify-content:center; position:absolute; font-size:10px; top:-20px; z-index: 13; width:85px; height:35px;   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);-->
<!--              background: white; border-radius:20px;">-->
<!--              {{ story.note }}</div>-->
<!--            <div style="text-align:center; display:flex;  align-content:center;  align-items:center; justify-items:center; justify-content:center; position:absolute; font-size:10px; top:6px; left:5px; z-index: 13; width:12px; height:12px;-->
<!--              background: white; border-radius:20px;"></div>-->
<!--            <div style="text-align:center; display:flex;  align-content:center;  align-items:center; justify-items:center; justify-content:center; position:absolute; font-size:10px; top:18px; left:14px; z-index: 12; width:7px; height:7px;-->
<!--              background: white; border-radius:20px;"></div>-->
<!--            <img :src="story.avatar" alt="User Avatar" style="width:75px; border-radius:50%;">-->
<!--            <div style="margin-top:10px;">{{story.username}}</div>-->
<!--          </div>-->
<!--          <div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <img src="../icons/notes.jpg"/>
      <ion-item class="no-border no-shadow">
        <ion-label slot="start" style="font-weight: bold;">Messages</ion-label>
        <ion-label slot="end" style="color:#61accb; font-weight: bold;" class="ion-text-end">Requests</ion-label>
      </ion-item>
      <ion-list>
        <ion-item v-for="(chat, index) in chats" :key="index" @click="openChat(chat)" class="no-shadow no-border" style="padding-top:20px;">
          <img :src="chat.avatar" alt="User Avatar"  style="width:50px; border-radius:50%;">
          <ion-label style="padding-left:15px;">
            <h2 :style="{ fontWeight: chat.isNew ? 'bold' : 'normal' }">{{ chat.username }}</h2>
            <h3 :style="{ fontWeight: chat.isNew ? 'bold' : 'normal' }">{{ chat.lastMessage }}   {{ chat.when }}</h3>
          </ion-label>
          <div v-if="chat.isNew" style="border-radius: 50%; width:8px; height:8px; background:#1496e1"></div>
          <ion-icon slot="end" :icon="cameraOutline"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script setup lang="ts">
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonList, IonItem, IonAvatar, IonLabel } from '@ionic/vue';

import { ref } from 'vue';
import {
  accessibility,
  archiveOutline,
  arrowBack,
  camera, cameraOutline,
  download,
  downloadOutline,
  duplicateSharp, ellipsisVerticalOutline,
  home,
  pencil
} from "ionicons/icons";

const scrollOptions = ref({
  direction: 'x', // Horizontal scrolling
  scrollEvents: true,
  scrollbarX: false,
  scrollbarY: false
});
import b from "../images/babyhellabands.jpg";
import p from "../images/poutana.jpg"
import bini from "../images/bini.jpg"
import billy from "../images/giati.jpg"
import tum from "../images/tum.jpg"
import akis from "../images/akis.jpg"
import k from "../images/kif.jpg"
const chats = ref([
  {
    username: 'Δημήτρης Κιφοκέρης',
    avatar: k,
    lastMessage: 'tha ta kleisw ola den... ·',
    when:"5d"
  },
  {
    username: 'babyhellabands',
    avatar: b,
    lastMessage: 'Shared a post · ',
    isNew:true,
    when:"5d"
  },
  {
    username: 'Thomas Vangelis',
    avatar: tum,
    lastMessage: 'Shared a post · ',
    isNew:true,
    when:"5d"
  },
  {
    username: 'Άκης Δρακόπουλος',
    avatar: akis,
    lastMessage: 'Είσαι τίγκα ζοσχα; · ',
    isNew:true,
    when:"5d"
  },
  {
    username: 'Niki Theodoridou',
    avatar:p,
    lastMessage: 'γιατί διαβάστηκε; · ',
    isNew:false,
    when:"6d",
    clickable:true
  },
  {
    username: 'Βασίλης Χατζησταμάτης',
    avatar: billy,
    lastMessage: 'Γιατι · ',
    when:"1w"
  },
  {
    username: 'Οδυσσέας Μπινιχάκης',
    avatar: bini,
    lastMessage: 'Οκ · ',
    when:"1w"
  },
  // Add more chat objects as needed
]);

const stories = ref([
  { username: 'Η σημείωση σας', avatar: 'https://via.placeholder.com/150' , note: "Σημείωση..." },
  { username: 'babyhellabands', avatar: b , note: "ZCREW <3"},
]);

import { useRouter } from 'vue-router';

const router = useRouter();

const openChat = (chat) => {
  if (chat.clickable) {
    router.push('/tabs/tab2');
  }
};


</script>


<style scoped>
/* Custom styles for the search bar */
ion-searchbar {
  --border-radius: 20px;
  --background: #efefef;
  --placeholder-color: #a3a3a3;
  border: 0 !important;
  --box-shadow: none !important;
  margin:0 auto;
  padding:10px;

}


/* Custom styles for the search results */
ion-item {
  --background: transparent;
  --color: #333;
  --ion-item-background-hover: rgba(0, 0, 0, 0.05);
}

/* Style for the "No results found" message */
div[hidden] {
  text-align: center;
  padding: 20px;
  color: #999;
}

.bold-title {
  font-weight: bold;
  font-size:16px;
}

.no-shadow {
  --box-shadow: none !important;
}
.no-border {
  --border-style: none !important;
}


.swiper-slide img {
  width: 80px; /* Adjust as needed */
  height: 80px; /* Adjust as needed */
  border-radius: 50%; /* to make it round */
}
</style>
