<template>
  <ion-page>
    <ion-tabs>
      <ion-router-outlet></ion-router-outlet>
      <ion-tab-bar slot="bottom" :style="{display: activeTab === 'tab3' || 'tab2' ? 'none' : 'flex'}">
        <ion-tab-button tab="tab1" href="/tabs/tab1">
          <ion-icon aria-hidden="true" :icon="triangle" />
          <ion-label>Tab 1</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2" href="/tabs/tab2">
          <ion-icon aria-hidden="true" :icon="ellipse" />
          <ion-label>Tab 2</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3" href="/tabs/tab3" @click="hideTabs">
          <ion-icon aria-hidden="true" :icon="square" />
          <ion-label>Tab 3</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>

<script setup lang="ts">
import { IonTabBar, IonTabButton, IonTabs, IonLabel, IonIcon, IonPage, IonRouterOutlet } from '@ionic/vue';
import { ellipse, square, triangle } from 'ionicons/icons';
import { ref } from 'vue';

const activeTab = ref('tab3');

const hideTabs = () => {
  activeTab.value = 'tab3';
};
</script>

<style scoped>
/* Add some additional styles to fill the gap */
ion-tab-bar {
  height: 60px; /* Adjust height as needed */
}

/* Hide space for hidden tab */
ion-tab-button[tab="tab3"][style*="display: none;"] {
  width: 0 !important;
}
</style>
